@import './modules/bulma'
@import './modules/anim'
@import './modules/card'
@import './modules/sidebar'
@import './modules/stack'
@import './modules/stars'

@media screen and (min-width 480px)
    .column
        z-index 999
@media screen and (max-width 480px)
		.column .card
				z-index 9
    .card-nav-tabs
        margin-top 5rem
        .header
            margin-top: 0;
            position: absolute;
            top: -21%;
            left: -27px;
            width: 95vw;
    .hero
        .title.is-1
            font-size: 2.2rem
@media screen and (max-width 1240px)
    .flex-mobile
        display: flex !important
        &.jc-c-mobile
            justify-content: center
        &.jc-s-mobile
            justify-content: flex-start
        &.jc-e-mobile
            justify-content: flex-end
        &.jc-sa-mobile
            justify-content: space-around
        &.jc-sb-mobile
            justify-content: space-between
        &.ai-c-mobile
            align-items: center
        &.ai-s-mobile
            align-items: flex-start
        &.ai-e-mobile
            align-items: flex-end
        &.ac-sa-mobile
            align-content: space-around
        &.ac-sb-mobile
            align-content: space-between
        &.fd-r-mobile
            flex-direction: row
        &.fd-c-mobile
            flex-direction: column
        &.fw-w-mobile
            flex-wrap: wrap 
.is-70px
    width 70px !important
.navv li a
    padding: 10px 15px
    display: block
div.button
    box-shadow: none !important
.button:disabled
    box-shadow: none !important
.is-transparent
  background: transparent
.is-text-white
    color #fff !important
.is-fixed-top
  position: fixed
  top: 0
  left 0
  right 0
.is-relative
    position relative 0 0 0 0
.is-absolute
    position absolute
.is-fixed
    position fixed
.top
    top: 0
    left 0
    right 0
.bottom-right
    bottom 50px
    right 50px
.is-white
    background: #fff

.depth-0
    box-shadow: none !important

.p-y-10
    padding 10px 0px
.benef-trans
    padding 30px 0px
    &:not(:last-child)
        border-bottom: 1px solid #eee

html, body, #react-root, #react-root > main
    height 100vh
    width 100vw
    padding 0 !important
    margin 0 !important
.contained
    padding-top: 10px
    padding-bottom: 10px
.hero-padding
    padding-left 250

.flex
    display: flex !important
    &.jc-c
        justify-content: center
    &.jc-s
        justify-content: flex-start
    &.jc-e
        justify-content: flex-end
    &.jc-sa
        justify-content: space-around
    &.jc-sb
        justify-content: space-between
    &.ai-c
        align-items: center
    &.ai-s
        align-items: flex-start
    &.ai-e
        align-items: flex-end
    &.ac-sa
        align-content: space-around
    &.ac-sb
        align-content: space-between
    &.fd-r
        flex-direction: row
    &.fd-c
        flex-direction: column
    &.fw-w
        flex-wrap: wrap
.red
    color red
.ln-2
    line-height: 2 !important
.sideNav
    justify-content: space-around
    height 100vh
    padding 50px 0px !important
    background: purple
    .link
        color #fff
        display: flex
        flex 1
        flex-direction: column
        align-items: center
        justify-content: center
        padding-left 20px
.mainContent
    padding 80px 20px 20px
.translucent-logo
    background: -webkit-linear-gradient(#020107 0%, #201b46 100%)
    background: -moz-linear-gradient(#020107 0%, #201b46 100%)
    background: -o-linear-gradient(#020107 0%, #201b46 100%)
    background: linear-gradient(#020107 0%, #201b46 100%)
    background: linear-gradient(to bottom, #020107 0%, #201b46 100%);
.bank-details
    font-weight: 600
.logo-text
    padding-left 10px
.flex-1
    flex 1
.top-right
    position: absolute
    top 0
    right 0
.pos-rel
    position: relative
.delete, .zI9
    z-index: 99
.dropZone
    min-height 150px
    height auto
    padding 10px
    cursor: pointer
    border: 3px dashed #ddd
for i in (1..100)
    .h-{i}
        min-height (i)vh
        height (i/2)em
for i in (1..100)
    .w-{i}
        width (i)vw
.is-fullheight
    height: 100vh
.level-item.has-text-centered > div
    padding-bottom: 20px;
.underline
    width: 40px;
    height: 3px;
    background: #00d1b2;
    margin: 0 auto;
    margin-top: 10px;
.example
  transition: opacity 500ms ease-in;
.sky
	z-index: 1
	&:after 
			content: ""; 
			background: url('/skyscrapers.jpg'); 
			opacity: 0.5; 
			top: 0; 
			left: 0; 
			bottom: 0; 
			right: 0; 
			position: absolute; 
			z-index: -1;    
			flex-wrap: wrap  
.lg-logo
	padding 1rem
	box-sizing: content-box
	img
  	animation:spin 15s linear infinite;

@keyframes spin 
	100%
		-webkit-transform: rotate(360deg)
		transform:rotate(360deg);

