.table > thead > tr > th 
  border-bottom-width: 1px
  font-size: 1em
  font-weight: 300

.table .radio,
.table .checkbox 
  margin-top: 0
  margin-bottom: 0
  margin-left: 10px
  padding: 0
  width: 15px

.table .radio .icons,
.table .checkbox .icons 
  position: relative

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td 
  padding: 12px 8px
  vertical-align: middle

.table > thead > tr > th 
  padding-bottom: 4px

.table .td-actions 
  display: flex

.table .td-actions .btn 
  margin: 0px
  padding: 5px

.table > tbody > tr 
  position: relative

.text-warning 
  color: #ff9800

.text-primary 
  color: #9c27b0

.text-danger 
  color: #f44336

.text-success 
  color: #4caf50

.text-info 
  color: #00bcd4

.text-rose 
  color: #e91e63

.text-gray 
  color: #999999

.card 
  display: inline-block
  position: relative
  width: 100%
  margin: 25px 0
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)
  border-radius: 3px
  color: rgba(0,0,0, 0.87)
  background: #fff

.card .card-height-indicator 
  margin-top: 100%


.card .card-image 
  height: 60%
  position: relative
  overflow: hidden
  margin-left: 15px
  margin-right: 15px
  margin-top: -30px
  border-radius: 6px

.card .card-image img 
  width: 100%
  height: 100%
  border-radius: 6px
  pointer-events: none

.card .card-image .card-title 
  position: absolute
  bottom: 15px
  left: 15px
  color: #fff
  font-size: 1.3em
  text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5)

.card .category:not([class*="text-"]) 
  color: #999999

.card .card-content 
  padding: 15px 20px

.card .card-content .category 
  margin-bottom: 0

.card .card-header 
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
  margin: -20px 15px 0
  border-radius: 3px
  padding: 15px
  background-color: #999999

.card .card-header .title 
  color: #FFFFFF

.card .card-header .category 
  margin-bottom: 0
  color: rgba(255, 255, 255, 0.62)

.card .card-header.card-chart 
  padding: 0
  min-height: 160px

.card .card-header.card-chart + .content h4 
  margin-top: 0

.card .card-header .ct-label 
  color: rgba(255, 255, 255, 0.7)

.card .card-header .ct-grid 
  stroke: rgba(255, 255, 255, 0.2)

.card .card-header .ct-series-a .ct-point,
.card .card-header .ct-series-a .ct-line,
.card .card-header .ct-series-a .ct-bar,
.card .card-header .ct-series-a .ct-slice-donut 
  stroke: rgba(255, 255, 255, 0.8)

.card .card-header .ct-series-a .ct-slice-pie,
.card .card-header .ct-series-a .ct-area 
  fill: rgba(255, 255, 255, 0.4)

.card .chart-title 
  position: absolute
  top: 25px
  width: 100%
  text-align: center

.card .chart-title h3 
  margin: 0
  color: #FFFFFF

.card .chart-title h6 
  margin: 0
  color: rgba(255, 255, 255, 0.4)

.card .card-footer 
  margin: 0 20px 10px
  padding-top: 10px
  border-top: 1px solid #eeeeee

.card .card-footer .content 
  display: block

.card .card-footer div 
  display: inline-block

.card .card-footer .author 
  color: #999999

.card .card-footer .stats 
  line-height: 22px
  color: #999999
  font-size: 12px

.card .card-footer .stats .material-icons 
  position: relative
  top: 4px
  font-size: 16px

.card .card-footer h6 
  color: #999999

.card img 
  width: 100%
  height: auto

.card .category .material-icons 
  position: relative
  top: 6px
  line-height: 0

.card .category-social .fa 
  font-size: 24px
  position: relative
  margin-top: -4px
  top: 2px
  margin-right: 5px

.card .author .avatar 
  width: 30px
  height: 30px
  overflow: hidden
  border-radius: 50%
  margin-right: 5px

.card .author a 
  color: #3C4858
  text-decoration: none

.card .author a .ripple-container 
  display: none

.card .table 
  margin-bottom: 0

.card .table tr:first-child td 
  border-top: none

.card [data-background-color="purple"] 
  background: linear-gradient(60deg, #ab47bc, #8e24aa)
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2)

.card [data-background-color="blue"] 
  background: linear-gradient(60deg, #26c6da, #00acc1)
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2)

.card [data-background-color="green"] 
  background: linear-gradient(60deg, #66bb6a, #43a047)
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2)

.card [data-background-color="orange"] 
  background: linear-gradient(60deg, #ffa726, #fb8c00)
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2)

.card [data-background-color="red"] 
  background: linear-gradient(60deg, #ef5350, #e53935)
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2)

.card [data-background-color] 
  color: #FFFFFF

.card [data-background-color] a 
  color: #FFFFFF

.card-stats .card-header 
  position: absolute
  top: -25px
  left 15px
  margin 0
  text-align: center

.card-stats .card-header i 
  font-size: 36px
  line-height: 56px
  width: 56px
  height: 56px

.card-stats .card-content 
  text-align: right
  padding-top: 10px
  min-height: 75px


.card-nav-tabs .header-raised 
  margin-top: -30px

.card .header 
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
  margin: 15px
  border-radius: 3px
  padding: 15px 0
  background-color: #FFFFFF

.card .header-primary 
  background: linear-gradient(60deg, #ab47bc, #7b1fa2)

.card .header-info 
  background: linear-gradient(60deg, #29b6f6, #0288d1)

.card .header-success 
  background: linear-gradient(60deg, #66bb6a, #388e3c)

.card .header-warning 
  background: linear-gradient(60deg, #fdd835, #fbc02d)

.card .header-danger 
  background: linear-gradient(60deg, #ef5350, #d32f2f)


.card-nav-tabs .header 
  margin-top: -30px


.card-nav-tabs .nav-tabs 
  padding: 0
  li
    flex 1
    &.active
      background-color: rgba(255, 255, 255, 0.1)
    a
      padding 10px 15px
      color: #fff
      display: block

.card-nav-tabs .nav-tabs-title 
  float: left
  padding: 10px 10px 10px 0
  line-height: 24px


.card-plain 
  background: transparent
  box-shadow: none

.card-plain .card-header 
  margin-left: 0
  margin-right: 0

.card-plain .content 
  padding-left: 5px
  padding-right: 5px

.card-plain .card-image 
  margin: 0
  border-radius: 3px

.card-plain .card-image img 
  border-radius: 3px


.iframe-container 
  margin: 0 -20px 0

.iframe-container iframe 
  width: 100%
  height: 500px
  border: 0
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)



.card form [class*="col-"] 
  padding: 6px

.card form [class*="col-"]:first-child 
  padding-left: 15px

.card form [class*="col-"]:last-child 
  padding-right: 15px


.card-profile,
.card-testimonial 
  margin-top: 30px
  text-align: center

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised 
  margin-left: 6px
  margin-right: 6px

.card-profile .card-avatar,
.card-testimonial .card-avatar 
  max-width: 130px
  max-height: 130px
  margin: -50px auto 0
  border-radius: 50%
  overflow: hidden
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)

.card-profile .card-avatar + .content,
.card-testimonial .card-avatar + .content 
  margin-top: 15px

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar 
  margin-top: 0

