
.sidebar,
.off-canvas-sidebar 
  position absolute
  top 0
  bottom 0
  left 0
  z-index 100
  box-shadow 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper 
  position relative
  height calc(100vh - 75px)
  overflow auto
  width 260px
  z-index 4
  background: #fff
.sidebar .logo-img,
.off-canvas-sidebar .logo-img {
  width: 30px;
  display: inline-block;
  max-height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.sidebar .logo-img img,
.off-canvas-sidebar .logo-img img {
  width: 35px;
  top: 16px;
  position: absolute;
}

.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim 
  border-radius 50%
  border 1px solid #333
  display block
  height 61px
  width 61px
  float left
  overflow hidden

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img 
  width 60px
  height 60px

.sidebar .navv,
.off-canvas-sidebar .navv 
  margin-top 20px

.sidebar .navv li > a,
.off-canvas-sidebar .navv li > a 
  margin 10px 15px
  border-radius 3px
  color #3C4858
  display block
  padding 10px 15px

.sidebar .navv li:hover > a,
.off-canvas-sidebar .navv li:hover > a 
  background rgba(200, 200, 200, 0.2)
  color #3C4858

.sidebar .navv li.active > a,
.off-canvas-sidebar .navv li.active > a 
  color #FFFFFF

.sidebar .navv li.active > a i,
.off-canvas-sidebar .navv li.active > a i 
  color #FFFFFF

.sidebar .navv p,
.off-canvas-sidebar .navv p 
  margin 0
  line-height 30px
  font-size 14px

.sidebar .navv i,
.off-canvas-sidebar .navv i 
  font-size 24px
  float left
  margin-right 15px
  line-height 30px
  width 30px
  text-align center
  color #a9afbb

.sidebar .sidebar-background,
.off-canvas-sidebar .sidebar-background 
  position absolute
  z-index 1
  height 100%
  width 100%
  display block
  top 0
  left 0
  background-size cover
  background-position center center

.sidebar .sidebar-background:after,
.off-canvas-sidebar .sidebar-background:after 
  position absolute
  z-index 3
  width 100%
  height 100%
  content ""
  display block
  background #FFFFFF
  opacity .93

.sidebar .logo,
.off-canvas-sidebar .logo 
  position relative
  padding 15px 15px
  z-index 4
  background: #fff

.sidebar .logo:after,
.off-canvas-sidebar .logo:after 
  content ''
  position absolute
  bottom 0
  right 10%
  height 1px
  width 80%
  background-color rgba(180, 180, 180, 0.3)

.sidebar .logo p,
.off-canvas-sidebar .logo p 
  float left
  font-size 20px
  margin 10px 10px
  color #FFFFFF
  line-height 20px

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text 
  text-transform uppercase
  padding 5px 0px
  display block
  font-size 18px
  color #3C4858
  text-align center
  font-weight 400
  line-height 30px

.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim 
  border-radius 50%
  border 1px solid #333
  display block
  height 61px
  width 61px
  float left
  overflow hidden

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img 
  width 60px
  height 60px

.sidebar:after, .sidebar:before,
.off-canvas-sidebar:after,
.off-canvas-sidebar:before 
  display block
  content ""
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  z-index 2

.sidebar:before,
.off-canvas-sidebar:before 
  opacity .33

.sidebar:after,
.off-canvas-sidebar:after 
  z-index 3
  opacity 1

.sidebar[data-image]:after, .sidebar.has-image:after,
.off-canvas-sidebar[data-image]:after,
.off-canvas-sidebar.has-image:after 
  opacity .77

.sidebar[data-color="blue"] .navv li.active a,
.off-canvas-sidebar[data-color="blue"] .navv li.active a 
  background-color #00bcd4
  box-shadow 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2)

.sidebar[data-color="green"] .navv li.active a,
.off-canvas-sidebar[data-color="green"] .navv li.active a 
  background-color #4caf50
  box-shadow 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2)

.sidebar[data-color="orange"] .navv li.active a,
.off-canvas-sidebar[data-color="orange"] .navv li.active a 
  background-color #ff9800
  box-shadow 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2)

.sidebar[data-color="red"] .navv li.active a,
.off-canvas-sidebar[data-color="red"] .navv li.active a 
  background-color #f44336
  box-shadow 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2)

.sidebar[data-color="purple"] .navv li.active a,
.off-canvas-sidebar[data-color="purple"] .navv li.active a 
  background-color #9c27b0
  box-shadow 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2)


.off-canvas-sidebar .navv > li > a,
.off-canvas-sidebar .navv > li > a:hover 
  color #FFFFFF

.off-canvas-sidebar .navv > li > afocus 
  background rgba(200, 200, 200, 0.2)


.main-panel 
  background #eeeeee
  position relative
  z-index 2
  float right
  overflow auto
  width calc(100% - 260px)
  min-height 100%
  -webkit-transform translate3d(0px, 0, 0)
  -moz-transform translate3d(0px, 0, 0)
  -o-transform translate3d(0px, 0, 0)
  -ms-transform translate3d(0px, 0, 0)
  transform translate3d(0px, 0, 0)
  -webkit-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
  -moz-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
  -o-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
  -ms-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
  transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)

.main-panel > .content 
  margin-top 70px
  padding 30px 15px
  min-height calc(100% - 123px)

.main-panel > .footer 
  border-top 1px solid #e7e7e7

.main-panel > .navvbar 
  margin-bottom 0


.main-panel 
  max-height 100%
  height 100%


.sidebar,
.main-panel 
  -webkit-transition-property top,bottom
  transition-property top,bottom
  -webkit-transition-duration .2s,.2s
  transition-duration .2s,.2s
  -webkit-transition-timing-function linear,linear
  transition-timing-function linear,linear
  -webkit-overflow-scrolling touch



/*           Animations              */
.animation-transition-general, .sidebar .navv li > a,
.off-canvas-sidebar .navv li > a 
  -webkit-transition all 300ms linear
  -moz-transition all 300ms linear
  -o-transition all 300ms linear
  -ms-transition all 300ms linear
  transition all 300ms linear



  .sidebar .navvbar-form 
    display none !important
  
  .sidebar .navv-mobile-menu 
    display none
  

/*          Changes for small display      */
@media (max-width 991px)
  .sidebar 
    display none
    box-shadow none
  
  .sidebar .sidebar-wrapper 
    padding-bottom 60px
  
  .sidebar .navv-mobile-menu 
    margin-top 0
  
  .sidebar .navv-mobile-menu .notification 
    float left
    line-height 30px
    margin-right 8px
  
  .sidebar .navv-mobile-menu .open .dropdown-menu 
    position static
    float none
    width auto
    margin-top 0
    background-color transparent
    border 0
    -webkit-box-shadow none
    box-shadow none
  

  .main-panel 
    width 100%
  

  .navvbar-transparent 
    padding-top 15px
    background-color rgba(0, 0, 0, 0.45)
  

  body 
    position relative
  

  .main-panel 
    -webkit-transform translate3d(0px, 0, 0)
    -moz-transform translate3d(0px, 0, 0)
    -o-transform translate3d(0px, 0, 0)
    -ms-transform translate3d(0px, 0, 0)
    transform translate3d(0px, 0, 0)
    -webkit-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -moz-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -o-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -ms-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    left 0
  

  .navvbar .container 
    left 0
    width 100%
    -webkit-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -moz-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -o-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -ms-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    position relative
  

  .navvbar .navvbar-collapse.collapse,
  .navvbar .navvbar-collapse.collapse.in,
  .navvbar .navvbar-collapse.collapsing 
    display none !important
  

  .navvbar-nav > li 
    float none
    position relative
    display block
  

  .sidebar,
  .off-canvas-sidebar 
    position fixed
    display block
    top 0
    height 100vh
    width 260px
    right 0
    left auto
    z-index 1032
    visibility visible
    background #9A9A9A
    overflow-y visible
    border-top none
    text-align left
    padding-right 0px
    padding-left 0
    -webkit-transform translate3d(260px, 0, 0)
    -moz-transform translate3d(260px, 0, 0)
    -o-transform translate3d(260px, 0, 0)
    -ms-transform translate3d(260px, 0, 0)
    transform translate3d(260px, 0, 0)
    -webkit-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -moz-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -o-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    -ms-transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
    transition all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)
  
  .sidebar > ul,
  .off-canvas-sidebar > ul 
    position relative
    z-index 4
    overflow-y scroll
    height calc(100vh - 61px)
    width 100%
  
  .sidebar:before,
  .off-canvas-sidebar:before 
    top 0
    left 0
    height 100%
    width 100%
    position absolute
    background-color #282828
    display block
    content ""
    z-index 1
  
  .sidebar .logo,
  .off-canvas-sidebar .logo 
    position relative
    z-index 4
  
  .sidebar .navvbar-form,
  .off-canvas-sidebar .navvbar-form 
    margin 10px 15px
    float none !important
  
  .sidebar .navvbar-form .btn,
  .off-canvas-sidebar .navvbar-form .btn 
    position absolute
    top 25px
    right 15px
  
  .sidebar .table-responsive,
  .off-canvas-sidebar .table-responsive 
    width 100%
    margin-bottom 15px
    overflow-x scroll
    overflow-y hidden
    -ms-overflow-style -ms-autohiding-scrollbar
    -webkit-overflow-scrolling touch
  

  .navv-open .navvbar-collapse 
    -webkit-transform translate3d(0px, 0, 0)
    -moz-transform translate3d(0px, 0, 0)
    -o-transform translate3d(0px, 0, 0)
    -ms-transform translate3d(0px, 0, 0)
    transform translate3d(0px, 0, 0)
  

  .navv-open .navvbar .container 
    left -250px
  

.wrapper 
  position relative
  top 0
  height 100vh


.wrapper.wrapper-full-page 
  height auto
  min-height 100vh


.navv 
  padding-left 0
  margin-bottom 0
  list-style none

  .navv-open .main-panel 
    left 0
    -webkit-transform translate3d(-260px, 0, 0)
    -moz-transform translate3d(-260px, 0, 0)
    -o-transform translate3d(-260px, 0, 0)
    -ms-transform translate3d(-260px, 0, 0)
    transform translate3d(-260px, 0, 0)
  

  .navv-open .sidebar 
    box-shadow 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
  

  .navv-open .off-canvas-sidebar,
  .navv-open .sidebar 
    -webkit-transform translate3d(0, 0, 0)
    -moz-transform translate3d(0, 0, 0)
    -o-transform translate3d(0, 0, 0)
    -ms-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)
  