starFieldWidth = 2560
starFieldHeight = 2560
starStartOffset = 600px

starOneScrollDuration = 100s
starTwoScrollDuration = 125s
starThreeScrollDuration = 175s
numStarOneStars = 200
numStarTwoStars = 40
numStarThreeStars = 20
numShootingStars = 10
width = 100%

random(min = 0, max)
  return floor(math(0, 'random')*(max - min + 1) + min)

  
create-stars(n)
  stars = ''
  eachStar = ''
  eachStar += (random(max: starFieldWidth))px (random(max: starFieldHeight))px #FFF
  eachStar += ','
  for i in (2..n)
    stars += unquote(eachStar) (random(max: starFieldWidth, min: i))px (random(max: starFieldHeight, min: i))px #FFF
    if i != n
      stars += ','
  return unquote(stars)

star-template(numStars, starSize, scrollSpeed)
  z-index: 10
  width: starSize
  height: starSize
  border-radius: 50%
  background: transparent
  box-shadow: create-stars(numStars)
  animation: animStar scrollSpeed linear infinite
  &:after
    content: " "
    top: -(starStartOffset)
    width: starSize 
    height: starSize
    border-radius: 50%
    position: absolute
    background: transparent
    box-shadow: create-stars(numStars)
    
  
shooting-star-template(numStars, starSize, speed)
  z-index: 10
  width: starSize
  height: starSize + 80px
  border-top-left-radius: 50%
  border-top-right-radius: 50%
  position: absolute
  z-index 9
  bottom: 0
  right: 0
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1))
  animation: animShootingStar speed linear infinite
  
.stars
  star-template(numStarOneStars, 1px, starOneScrollDuration)
.stars1
  star-template(numStarTwoStars, 2px, starTwoScrollDuration)
.stars2
  star-template(numStarThreeStars, 3px, starThreeScrollDuration)
.shooting-stars
  shooting-star-template(numShootingStars, 5px, 10s)
    
@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(-(starFieldHeight)px) translateX(-(starFieldWidth)px)
    

@keyframes animShootingStar
  from
    transform: translateY(0px) translateX(0px) rotate(-45deg)
    opacity: 1
    height: 5px
  to
    transform: translateY(-(starFieldHeight)px) translateX(-(starFieldWidth)px) rotate(-45deg)
    opacity: 1
    height: 800px
  
    